<div class = "jumbotron">
    <h1 class="text-center">Welcome to the Bug Tracker page</h1>
    <p>These are the current Bugs</p>
    {{#each entries}}
        <div class='entries'>
            <p class="font-weight-bold">Project Name: {{projectName}}</p>
            <p>Bug Title: {{bugTitle}}</p>
            <p>Reporter's Name: {{reporterName}}</p>
            <p>Bug Type: {{bugType}}</p>
            <p>Bug State: {{bugState}}</p>
            <p>Bug Description: {{bugDescription}}</p>
            <p>Date Submitted: {{date}}</p>
            <a href='/gameentries/edit/{{id}}' class="btn btn-dark mb-3">Edit</a>
           <!-- <form method="POST" action="/{{id}}?_method=Delete">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            -->
        </div>
        <br>
    {{else}}
    {{/each}}

</div>